{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
 {% block content %}


<!--<div class="get">
        <div class="am-g">
            <div class="am-u-lg-12">
            </div>
        </div>
    </div>-->
<div class="am-g am-imglist">
    <div class="am-list-title">最新推荐视频
        <a class="am-list-more" href="/list"></canvas>更多>></a>
    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
        {% for item in list %}
        <li>
            <div class="am-gallery-item am_list_block">
                <a href="{{_host_}}/detail/{{item._id}}" class="am_img_bg">
                    <img class="am_img" src="img/loading.gif"
                         data-original="{{item.thumb_pic}}"
                         alt="{{item.title}}"/>
                </a>

                <a href="{{_host_}}/detail/{{item._id}}"><span class=am-item-title>{{item.title}}</span></a>
                <div class="am_listimg_info"><span class="am-icon-heart"> 132</span>
                    <span class="am-icon-thumbs-o-down"> 10</span>
                    <span class="am-icon-eye"> {{item.video_count}}</span><span class="am_imglist_time">{{item.update_time | time2ago}}</span></div>
            </div>
        </li>
        {% endfor %}


    </ul>
</div>

<!--<div class="am-g am-imglist">
    <div class="am-list-title">亚洲唯美
        <a class="am-list-more" href="/list/0"></canvas>更多>></a>
    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
        {% for item in list %}
        <li>
            <div class="am-gallery-item am_list_block">
                <a href="/detail/{{item._id}}" class="am_img_bg">
                    <img class="am_img" src="img/loading.gif"
                         data-original="{{item.thumb_pic}}"
                         alt="{{item.title}}"/>
                </a>

                <a href="/detail/{{item._id}}"><span class=am-item-title>{{item.title}}</span></a>
                <div class="am_listimg_info"><span class="am-icon-heart"> 132</span>
                    <span class="am-icon-thumbs-o-down"> 67</span>
                    <span class="am-icon-eye"> 67</span><span class="am_imglist_time">{{item.update_time | time2ago}}</span></div>
            </div>
        </li>
        {% endfor %}


    </ul>
</div>-->
<!--<div class="am-g am-imglist">
    <div class="am-list-title">欧美原创
        <a class="am-list-more" href="/list/0"></canvas>更多>></a>
    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
        {% for item in list %}
        <li>
            <div class="am-gallery-item am_list_block">
                <a href="/detail/{{item._id}}" class="am_img_bg">
                    <img class="am_img" src="img/loading.gif"
                         data-original="{{item.thumb_pic}}"
                         alt="{{item.title}}"/>
                </a>

                <a href="/detail/{{item._id}}"><span class=am-item-title>{{item.title}}</span></a>
                <div class="am_listimg_info"><span class="am-icon-heart"> 132</span>
                    <span class="am-icon-thumbs-o-down"> 67</span>
                    <span class="am-icon-eye"> 67</span><span class="am_imglist_time">{{item.update_time | time2ago}}</span></div>
            </div>
        </li>
        {% endfor %}


    </ul>
</div>-->
{% endblock %}