<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="在线观看成人电影,偷拍自拍,新时代的我们,达尔盖的旗帜,在线视频,在线成人电影,香港三级,欧美成人,日本AV|偷情自拍|" />
    <meta name="keywords" content="1024|在线观看成人电影|偷拍自拍|新时代的我们|达尔盖的旗帜|在线视频|在线成人电影|香港三级|欧美成人|日本AV|偷情自拍|cl最新地址|1024最新地址|" />
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/petshow.css?6">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link href="http://vjs.zencdn.net/6.1.0/video-js.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>

</head>

<body>
    <header class="am-topbar am-topbar-inverse">
        <div class="search">
            <div class="cse-form">
                <input type="text" name="q" id="q" placeholder="搜索视频、图片、文章" autocomplete="off">
                <button id="searchbtn"><span class="am-icon-search am-icon-sm"></span></button></div>
        </div>
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-topbar-logo">
                    <div class="logo"><strong style="margin-right:2px">IYE</strong><strong>hub</strong></div>
                </a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse-5'}">
                <span class="am-sr-only">
                    导航切换
                </span>
                <span class="am-icon-bars">
                </span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="am-active">
                        <a href="/">
                        首页
                        </a>
                    </li>
                    <li >
                        <a href="{{_host_}}/list">
                        视频列表
                        </a>

                    </li>
                    <!--<li >
                        <a href="/list/0">
                        视频分类
                        </a>

                    </li>-->
                    <!--<li >
                        <a href="/list/0">
                        在綫成人影院 
                        </a>
                    </li>-->
                    <!--<li>
                        <a href="#">
                            新时代的我们
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        达盖尔的旗帜
                    </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="am_footer">
        <div class="am_info_line">Copyright(c)2017 <span>iyehub</span> All Rights Reserved</div>
    </footer>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/countUp.min.js"></script>
    <script src="/js/amazeui.lazyload.min.js"></script>
    <script src="/js/petshow.js"></script>
</body>

</html>